@using Microsoft.AspNetCore.Components
@using Front_endTemplate.DTO
<EditForm Model="@contract" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div >
        <label>Agent:</label>
        <div>
            <InputNumber @bind-Value="@contract.AgentId" />
            <ValidationMessage For="@(() => contract.AgentId)" />
        </div>
        <label>Risk:</label>
        <div>
            <InputNumber @bind-Value="@contract.RiskId" />
            <ValidationMessage For="@(() => contract.RiskId)" />
        </div>
        <label>Branch:</label>
        <div>
            <InputNumber @bind-Value="@contract.BranchId" />
            <ValidationMessage For="@(() => contract.BranchId)" />
        </div>
        <label>Tariff:</label>
        <div>
            <InputNumber @bind-Value="@contract.TariffId" />
            <ValidationMessage For="@(() => contract.TariffId)" />
        </div>
        <label>Type of insurance:</label>
                <div>
                    <InputNumber @bind-Value="@contract.TypeInsuranceId" />
                    <ValidationMessage For="@(() => contract.TypeInsuranceId)" />
                </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
    <a class="btn btn-secondary" href="/Contract">Back</a>
</EditForm>

@code {
    [Parameter] public ContractDTO contract { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}